<h1>All the Chefs</h1>
<% @chefs.each do |chef| %>

    <br>
    <div id="chef-<%=chef.id%>"><%=chef.name%>
    </br>
    <button id="<%=chef.id%>" class="js-more" onClick="fetchChefs(this.id)" data-id="<%= chef.id %>">More Info</button>
    </div>
<%end%>

