<h1><%=@dish.name %></h1>
<h2><%=@dish.cook_time %> minutes</h2>
<br>
<% @dish.ingredients.each do |ingredient| %>
<ul>
  <li><%= ingredient.dish_ingredients.quantity %> <%= ingredient.name %></li>
</ul>
<%end%>
